<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="src-dev/Test/bootstrap.php"
  verbose="true">

  <testsuites>
    <testsuite name="full">
      <directory suffix="Test.php">src-dev/Test</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="./reports/phpunit/html" charset="UTF-8"/>
    <log type="coverage-clover" target="./reports/phpunit/clover.xml" charset="UTF-8"/>
  </logging>

  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>

  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>
</phpunit>
